body{
    color: green;
    background-color: bisque;
}
.container{
    text-align: center;
    font-family: arial;

}
.menubar{
    text-align: left;
    font-family: Georgia;
    border-color: brown;
}