body{
    color: green;
    background-color: #CCFF99 ;
}
.container{
    text-align: center;
    font-family: arial;

}
.menubar{
    text-align: left;
    font-family: Georgia;
    border-color: brown;
}
.footer{
    text-align: center;
    font-family: Verdana;
    background-color: lightgreen;
    padding: 30px;
}
.footer>a{
    padding-left: 15px;
    padding-right: 15px;
}