body{
    color: green;
    background-color: #CCFF99 ;
}
.container{
    text-align: center;
    font-family: arial;

}
.menubar{
    text-align: left;
    font-family: Georgia;
    border-color: brown;
}
.footer{
    font-family: Verdana;
    background-color: lightgreen;
    padding: 30px;
}
.head-footer{
    text-align: center;
}

.head-footer>a{
    padding-left: 15px;
    padding-right: 15px;
}
.contact>h4{
    text-align:left
}
#exampleFormControlTextarea1, #exampleFormControlInput1{
    width:600px ;
}